.preview-file {
    align-items: center;
    align-content: center;
    text-align: center;
}

.preview-file > div > img {
    aspect-ratio: 1;
}

.general_file_preview {
    width: 500px;
}

.code-preview {
    text-align: left;
}
