.file-panel {
    height: 100%;
    background-color: #4D99F022;
    border-radius: 5px;
}

.readme-content > p {
    text-align: left;
    content: left;
    align-items: left;
    color: #006582;
}

.readme-content > ul > li {
    text-align: center;
    content: center;
    align-items: center;
    color: #006582;
}

.readme-content > ol > li {
    text-align: center;
    content: center;
    align-items: center;
    color: #006582;
}

.readme-content > h1 , .readme-content > h2 , .readme-content > h3 , .readme-content > h4 , .readme-content > h5 , .readme-content > h6 {
    color: #fff;
    text-align: left;
    content: left;
    align-items: left;
    color: #006582;
}

#downloadbuttontab {
    position: relative;
    left: -35%;
    top: 35px;
    font-size: 20px;
    margin-top: 50px;
    font-weight: bold;
}

/* have a centered table with content aligned to the left and with alternating colors between 0090B8 and 0B73D4*/
.table-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    content: center;
    align-items: center;
    color: #006582;
    min-width: 50%;
    margin-bottom: 25px;
}

/* have tr alternate colors between 0090B8 and 0B73D4*/
.table-center tr:nth-child(even) {
    background-color: #0066825d;
    color: #fff;
}

.table-center tr:nth-child(odd) {
    background-color: #0066829a;
    color: #fff;
}

.table-center tr:hover {
    background-color: #006682cc;
    color: #fff;
}

/* have first column of table be bold and centered and min width of 100 px with margin of 20 px to the right*/
.table-center td:first-child {
    font-weight: bold;
    text-align: center;
    content: center;
    align-items: center;
    min-width: 100px;
    margin-right: 20px;
    border-right: 1px solid #fff;
}

/* have second child of td have margin left of 10px and right of 10px*/
.table-center td:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#downloadbuttontab > a {
    color: #006582;
    text-decoration: none;
    word-break: break-word;
}

#downloadbuttontab:hover {
    border: 1px solid #006582;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 8px;
    padding-top: 5px;
}

#uncontrolled-tab-example-tab-name {
    width: 100%;
}

.nav-link {
    color: #fff;
}

#uncontrolled-tab-example-tab-data {
    width: 100%;
    background-color: #BBBBBB;
}

#uncontrolled-tab-example-tab-metadata {
    width: 100%;
    background-color: #BBBBBB;
}

#uncontrolled-tab-example-tab-data:hover {
    background-color: #006582;
    color: #fff;
}

#uncontrolled-tab-example-tab-data.active {
    background-color: #006582;
    color: #fff;
}

#uncontrolled-tab-example-tab-data:focus{
    background-color: #006582;
}

#uncontrolled-tab-example-tab-metadata {
    color: #fff;
}

#uncontrolled-tab-example-tab-metadata:hover {
    background-color: #006582;
    color: #fff;
}

#uncontrolled-tab-example-tab-metadata.active {
    background-color: #006582;
    color: #fff;
}

#uncontrolled-tab-example-tab-metadata:focus{
    background-color: #006582;
    color: #fff;
}

li {
    width: 30%;
}

.container {  
    display: flexbox;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.preview_section { grid-area: preview_section; }
  
.preview_section { grid-area: preview_section; }
  