.file-panel {
    height: 100%;
    background-color: #4D99F022;
    border: 1px solid #2c3e50;
    border-radius: 5px;
}

.readme-content > p {
    text-align: left;
    content: left;
    align-items: left;
}

.readme-content > ul > li {
    text-align: center;
    content: center;
    align-items: center;
}

.readme-content > ol > li {
    text-align: center;
    content: center;
    align-items: center;
}

.readme-content > h1 , .readme-content > h2 , .readme-content > h3 , .readme-content > h4 , .readme-content > h5 , .readme-content > h6 {
    color: #fff;
    text-align: left;
    content: left;
    align-items: left;
}

#downloadbuttontab {
    position: relative;
    left: -35%;
    top: 35px;
    font-size: 20px;
    margin-top: 50px;
    font-weight: bold;
}

#downloadbuttontab > a {
    color: black;
    text-decoration: none;
    word-break: break-word;
}

#downloadbuttontab:hover {
    border: 1px solid #BBBBBB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 8px;
    padding-top: 5px;
}

#uncontrolled-tab-example-tab-name {
    width: 100%;
}

.nav-link {
    color: #fff;
}

#uncontrolled-tab-example-tab-data {
    width: 100%;
    background-color: #BBBBBB;
}

#uncontrolled-tab-example-tab-metadata {
    width: 100%;
    background-color: #BBBBBB;
}

#uncontrolled-tab-example-tab-data:hover {
    background-color: #006582;
    color: #fff;
}

#uncontrolled-tab-example-tab-data.active {
    background-color: #006582;
    color: #fff;
}

#uncontrolled-tab-example-tab-data:focus{
    background-color: #006582;
}

#uncontrolled-tab-example-tab-metadata {
    color: #fff;
}

#uncontrolled-tab-example-tab-metadata:hover {
    background-color: #006582;
    color: #fff;
}

#uncontrolled-tab-example-tab-metadata.active {
    background-color: #006582;
    color: #fff;
}

#uncontrolled-tab-example-tab-metadata:focus{
    background-color: #006582;
    color: #fff;
}

li {
    width: 30%;
}

.container {  display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.6fr 0.4fr;
    grid-template-rows: 0.4fr 1.7fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". preview_section preview_section ."
      ". preview_section preview_section ."
      ". . . .";
    width: 100%;
    height: 100%;
  }
  
  .preview_section { grid-area: preview_section; }
  
  
.preview_section { grid-area: preview_section; }
  