/*have title header be on the left side*/
.title-header-title {
    float: left;
    text-align: left;
    color: #006582;
    margin-left: 10px;
    padding-left: 15px;
    font-size: 40px;
}

.title-header-title:hover {
    float: left;
    text-align: left;
    color: #2c3e50;
    margin-left: 10px;
    padding-left: 15px;
    font-size: 40px;
    text-decoration: underline;
}

/* have the buttons be on the right side */
.title-header-buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    margin-right: 10px;
    padding: 10px;
}

/* git button css */
.title-header-buttons-git {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    transform: scale(1.4);
    color: #fff;
}

.title-header-buttons-git > a {
    color: #006582;
}

.title-header-buttons-git > a:hover {
    color: #2c3e50;
}

.title-header-buttons-info {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #006582;
}

/* on hover buttons git button expand and info button shrink */
.title-header-buttons-git:hover {
    color: #2c3e50;
    transform: scale(2);
}

/* on hover buttons git button expand and info button shrink */
.title-header-buttons-info:hover {
    color: #2c3e50;
    transform: scale(1.5);
}