
/*container in which the ap is deployed */

 /* small grey box */
.fileitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

/*main color of the table is lightgrey */
table > tbody > tr {
    background-color: #f5f5f5;
}

/* all even rows are darkgrey */
table tbody tr:nth-child(even) {
    background-color: #e0dcdc;
}

/*table hover is dark grey*/
table tbody tr:hover {
    background-color: #e0dcdc;
}

.blue {
    background: #006582;
}

.light {
    background: #6cb2c5;
}

.dark {
    background: #2c3e50;
}