html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  text-decoration: none;
  margin-bottom: 5px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 20px;
  left: 24px;
  top: 36px;
}

.gitbranchicon > svg {
  position: fixed;
  top: 80px;
  left: 24px;
  width: 24px;
  height: 24px;
  color: #373a47;
}

.gitbranchicon > svg:hover {
  color: #373a47a4;
  /*change size of the icon with animation*/
  -webkit-transform: scale(1.5);
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
  display: none; /*hidden for now*/
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.00em;
  overflow-x: scroll;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.flexlayout {
  display: flex;
}

/*have a class called indentation and forearch child that also has the class indentation increase the margin left*/
.indentation > * {
  margin-left: 0.7em;
  /*border-left:#bdc3c7 2px solid;*/
}

/*when file-sidebar is hovered then change the background color of its parent*/
.file-sidebar:hover {
  background-color: #f5f5f550;
  border-radius: 5px;
  border-left:#373a47 2px solid;
}

.file-sidebar{
  border-left:#bdc3c7 2px solid;
  /*have overflow elipsis*/
  white-space: nowrap; 
}

.folder-sidebar:hover{
  background-color: #f5f5f550;
  border-radius: 5px;
}

.folder-sidebar {
  border-bottom: #8d90979a 1px solid;
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 1.0em;
  margin-top: 1.0em;
}

.notSideBar {
  position: fixed;
  top:0;
  min-height: 100vh;
  margin-left: 90px;
  margin-right: 70px;
}

.flex {
  display: flex;
}

.file_icon_sidebar {
  margin-right: 0.5em;
}
/* have the height be the same as the height of the notSideBar*/
.mini_dashboard {
  max-width: 70px;
  min-height: 100vh;
  background-color: #373a4725;
}

.main_window_component {
  /*have the y overflow be */
  max-height: 100vh;
  min-height: 100vh;
  /*min-width is the idth of the screen minus 70px + the size of the scrollbar*/
  min-width: calc(100vw - 70px - 20px);
  overflow-y: scroll;
}