/*put css variables here*/
:root {
  --primary-color-background: #001D4A;
  --primary-color-background-opace: #001D4A30;
  --secondary-color-background: #006992;
  --secondary-color-background-opace: #00699230;
  --tertiary-color-background: #27476E;
  --teriary-color-background-opace: #27476E30;
  --primary-accent-color: #eca400;
  --secondary-accent-color: #EAF8BF;
  --primary-color-text: #000;
  --primary-color-text-dashboard: #d1d1d1;
  --secondary-color-text: #FFF;
  --corner-edge: 5px;
}

html,body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  text-decoration: none;
  margin-bottom: 5px;
  color: var(--primary-color-text-dashboard);
  transition: color 0.2s;
}

.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 20px;
  left: 24px;
  top: 36px;
}

.archiveicon > svg {
  position: fixed;
  top: 80px;
  left: 24px;
  width: 24px;
  height: 24px;
  color: var(--primary-color-background);
}

.gitbranchicon > svg {
  position: fixed;
  top: 120px;
  left: 24px;
  width: 24px;
  height: 24px;
  color: var(--primary-color-background);
}

.archiveicon > svg:hover {
  color: var(--primary-color-background);
  /*change size of the icon with animation*/
  -webkit-transform: scale(1.5);
}

.gitbranchicon > svg:hover {
  color: var(--primary-color-background);
  /*change size of the icon with animation*/
  -webkit-transform: scale(1.5);
}

.bm-burger-bars {
  background: var(--primary-color-background);
}

.bm-burger-bars-hover {
  background: var(--primary-color-background);
}

/*this variale doesn't really matter since it is hidden for now*/
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  display: none; /*hidden for now*/
}

.bm-menu {
  background: var(--primary-color-background);
  padding: 2.5em 1.5em 0;
  font-size: 1.00em;
  overflow-x: scroll;
}

.bm-morph-shape {
  fill: var(--primary-color-background);
}

.bm-item-list {
  color: var(--primary-color-text-dashboard);
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.flexlayout {
  display: flex;
}

/*have a class called indentation and forearch child that also has the class indentation increase the margin left*/
.indentation > * {
  margin-left: 0.7em;
  /*border-left:#bdc3c7 2px solid;*/
}

/*when file-sidebar is hovered then change the background color of its parent*/
.file-sidebar:hover {
  background-color: #f5f5f550;
  border-radius: 5px;
  border-left:var(--primary-color-background) 2px solid;
}

.file-sidebar{
  border-left:#bdc3c7 2px solid;
  /*have overflow elipsis*/
  white-space: nowrap; 
}

.folder-sidebar:hover{
  background-color: #f5f5f550;
  border-radius: 5px;
}

.folder-sidebar {
  border-bottom: #8d90979a 1px solid;
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 1.0em;
  margin-top: 1.0em;
}

.notSideBar {
  position: fixed;
  top:0;
  min-height: 100vh;
  margin-left: 90px;
  margin-right: 70px;
}

.flex {
  display: flex;
}

.file_icon_sidebar {
  margin-right: 0.5em;
}
/* have the height be the same as the height of the notSideBar*/
.mini_dashboard {
  max-width: 70px;
  min-height: 100vh;
  background-color: var(--primary-color-background-opace);
}

.main_window_component {
  /*have the y overflow be */
  max-height: 100vh;
  min-height: 100vh;
  /*min-width is the idth of the screen minus 70px + the size of the scrollbar*/
  min-width: calc(100vw - 70px - 20px);
  overflow-y: scroll;
}

/*have an animation that will fade the content up in the course of 0.5 s*/
.fade-in {
  animation: fade-in 0.2s forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
  }
}

/*have an animation that will fade the content down in the course of 0.5 s and height of 0 keep end result animation*/
.fade-out {
  animation: fade-out 1s forwards;
  /*display: none;*/
  display: none;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(-10%);
    opacity: 0;
    height: 0;
    z-index: -1;
    position: absolute;
  }
}

/*do all titlebars in the same style as this one*/
.titlebar-readme {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1.15em;
  font-weight: bold;
  text-align: left;
  padding: 0.5em;
  background-color: var(--primary-color-background-opace);
  border-radius: var(--corner-edge);
}

.titlebar-filecontent {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1.15em;
  font-weight: bold;
  text-align: left;
  padding: 0.5em;
  background-color: var(--primary-color-background-opace);
  border-radius: var(--corner-edge);
}

.titlebar-active {
  animation: titlebar-active 0.5s forwards;
}

/*add animation for the titlebar-active that sldies in a background*/
@keyframes titlebar-active {
  0% {
    color: var(--primary-color-text);
  }
  100% {
    background-image: linear-gradient(to right, var(--primary-color-background), var(--primary-color-background-opace));
    color: var(--secondary-color-text);
  }
}

.titlebar-inactive {
  border-left: var(--primary-accent-color) 2px solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/*All the custom css for the README.md files are here*/
.readme-content {
  /*have the y overflow be */
  max-height: 50vh;
  /*min-width is the idth of the screen minus 70px + the size of the scrollbar*/
  overflow-y: scroll;
  /*hide scrollbar*/
  scrollbar-width: none;
  background-color: var(--primary-color-background-opace);
  margin-left: 0.5em;
  margin-right: 0.5em;
  max-width: calc(100vw - 70px - 20px);
  border-radius: var(--corner-edge);
}

.file-content {
  background-color: var(--primary-color-background-opace);
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border-radius: var(--corner-edge);
}

/*all children of the readme-content class have a margin of 1em and be aligned left*/
.readme-content > * {
  text-align: left;
}

/*all h1 - h4 tags should be bold and h1-2 should be underlined and h4-6 should be italic => all should be child of readme-content*/
.readme-content > h1,h2,h3{
  font-weight: bold;
}
.readme-content > h1,h2 {
  text-decoration: underline;
}
.readme-content > h4,h5,h6 {
  font-style: italic;
}

.buttonnavbar {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1.15em;
  font-weight: bold;
  text-align: left;
  padding: 0.2em;
}

/*all direct children of the buttonnavbar should be spread out evenly*/
.buttonnavbar > * {
  flex: 1;
}

.buttonnavbar > button {
  background-color: var(--secondary-color-background);
  border: var(--secondary-color-background) 2px solid;
  border-radius: var(--corner-edge);
  color: var(--secondary-color-text);
  padding: 0.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.5em;
  cursor: pointer;
}

.buttonnavbar > button:hover {
  border: var(--primary-accent-color) 2px solid;
}

.buttonnavbar > button:active {
  /*give push feeling*/
  transform: translateY(2px);
}

/*all buttons with class selected have background primary-color-background*/
button.selected {
  background-color: var(--primary-color-background);
  border: var(--primary-color-background) 2px solid;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

table {
  border-collapse: collapse;
  border: var(--primary-color-background) 1px solid;
  width: 90%;
  margin: 1em auto;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: var(--primary-color-background-opace)}

th {
  background-color: var(--primary-color-background-opace);
  color: var(--secondary-color-text);
}

/*have all a with class anchortag aligned left
and have the text-decoration be none*/
a.anchortag {
  text-decoration: none;
  text-align: left;
  color: var(--primary-accent-color);
}

.annotationinfoicon {
  color: var(--tertiary-color-background);
  margin-left: 0.5em;
  font-size: 1.2em;
}