
/*close button that will be at the top right of its current div */
#close {   
    position: relative;
    left: 48%;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}


/* animation that changes the size and color of a span */
#close:hover {
    color: red;
}

@media only screen and (max-width: 950px) {
    .teamcard {  
        display: block;
    }
    .navigation-sidebar {  
        margin-left: 20px;
        margin-right: 20px;
        min-height: 100px;
        max-height: 141px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 950px) {
    .teamcard {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 0.7fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 0.7fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "title-bar title-bar title-bar title-bar title-bar title-bar title-bar title-bar title-bar title-bar title-bar"
          "breadcrumb-bar breadcrumb-bar breadcrumb-bar breadcrumb-bar breadcrumb-bar breadcrumb-bar breadcrumb-bar breadcrumb-bar breadcrumb-bar breadcrumb-bar breadcrumb-bar"
          "search-bar search-bar object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel"
          "navigation-sidebar navigation-sidebar object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel"
          "navigation-sidebar navigation-sidebar object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel"
          "navigation-sidebar navigation-sidebar object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel"
          "navigation-sidebar navigation-sidebar object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel"
          "navigation-sidebar navigation-sidebar object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel"
          "navigation-sidebar navigation-sidebar object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel"
          "navigation-sidebar navigation-sidebar object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel object-preview-panel";
    }
}
  
.title-bar { 
    grid-area: title-bar; 
}

.breadcrumb-bar { 
    grid-area: breadcrumb-bar; 
    border-radius: 5px;
    border: 1px solid #006582;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    text-align: left;
    color:#006582;
    font-size: 30px;
}

.breadcrumb-bar:hover {
    color:#2c3e50;
    border: 1px solid #2c3e50;
}

.navigation-sidebar { 
    grid-area: navigation-sidebar; 
}

.search-bar { 
    grid-area: search-bar; 
    border-radius: 5px;
    border: 1px solid #006582;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: -15px;
    text-align: center;
    color: #fff;
}

.object-preview-panel { 
    grid-area: object-preview-panel; 
    border-radius: 5px;
    border: 1px solid #006582;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 10px;
    text-align: center;
}

  
  
  